{% extends 'base.html' %}

{% block content %}

 <!-- Header-->
        <header class="bg-dark py-5 gradient-background">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-100 mb-0">Welcome To Muse Of Scent.<br>
                    	Your One Scent Shop.
                    </p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br>
        				<h3>We give you the best smell ever</h3>
        				<p align="justify">Muse of Scent was born from dedication—a deep commitment to helping people feel confident, seen, and unforgettable through fragrance.
        				<br>
                        We don’t create perfumes—we curate them.
                        <br>
						We believe fragrance should not come at a cost, but exist as a unique accessory—an extension of who you are. That’s why every piece in our collection is carefully selected to offer you a range of scents that align with your mood, your presence, and your personal style.
						<br>
						Whether you’re drawn to something soft and comforting, bold and expressive, or effortlessly elegant, Muse of Scent helps you discover fragrances that truly reflect you.
                        <br>
                        Because the way you feel is often shaped by what you wear—and scent is no exception.
                        <br>
                        At Muse of Scent, we don’t just sell perfumes.  
                        We help you find the one that feels like you.
                        </p>
						<br>
        			</div>
        		</center>
        	</div>
        </div>


{% endblock %}


